{-# LANGUAGE DataKinds         #-}
{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE TypeOperators     #-}
{-# LANGUAGE DeriveGeneric     #-}

module Api.$moduleName where

import Servant

import Config                      (AppT (..))

type ${moduleName}API = "test" :> GET '[JSON] String

serviceServer :: MonadIO m => ServerT ${moduleName}API (AppT m)
serviceServer = testEndpoint

testEndpoint :: AppT m String
testEndpoint = return "Hello World"

